<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Restful-Booker API Test Suite" verbose="1" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Auth Tests">
        <classes>
            <class name="com.sreelaya.tests.AuthTests"/>
        </classes>
    </test>

    <test name="Booking - Positive Tests">
        <classes>
            <class name="com.sreelaya.tests.GetBookingTests"/>
            <class name="com.sreelaya.tests.CreateBookingTests"/>
            <class name="com.sreelaya.tests.UpdateBookingTests"/>
            <class name="com.sreelaya.tests.DeleteBookingTests"/>
        </classes>
    </test>

    <test name="Booking - Negative Tests">
        <classes>
            <class name="com.sreelaya.tests.NegativeTests"/>
        </classes>
    </test>

    <test name="Schema Validation Tests">
        <classes>
            <class name="com.sreelaya.tests.SchemaValidationTests"/>
        </classes>
    </test>

</suite>
